<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_Acart
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amasty_acart>
            <group>
                <customer_coupon>0</customer_coupon>
                <only_customers>0</only_customers>
            </group>
            <email_templates>
                <sender_name>Owner</sender_name>
                <sender_email>owner@example.com</sender_email>
            </email_templates>
            <testing>
                <safe_mode>0</safe_mode>
                <recipient_email></recipient_email>
            </testing>
        </amasty_acart>
    </default>
</config>
