/*font-family: 'Rubik', sans-serif;
font-family: 'Fugaz One', cursive; ----ONLY USED FOR BUTTON------ */

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

body {
	font-family: 'Rubik', sans-serif;
	background-color: #FFF;
	font-weight:400;
	color:#292B2D;
	margin: 0 auto;
}
article, aside, details, figcaption, figure, main, footer, header, nav, section, summary {
    display: block;
}
.page-main {
    flex: 1 0 auto;
    width: 100%;
}
.navigation, .breadcrumbs, .page-header .header.panel, .header.content, 
.footer.content, .page-wrapper > .widget, 
.page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: auto;
}
.columns::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.columns {
    display: block;
}
.columns {
    box-sizing: border-box;
    display: inline;
    flex-wrap: wrap;
}
a, .alink { color: #0069bc;}
a, a:hover{text-decoration:none; transition: all 300ms ease 0s;}
.clear,
.clear-2{clear:both;}
.clearfix::before, .clearfix::after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
	clear: both;
}
.last_mrg{margin-right:0 !important;}
img { max-width: 100%; width: auto; outline:none;}

input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], 
input[type="number"], input[type="datetime"], input[type="email"], textarea, select {font-family: 'Rubik', sans-serif !important;}

.footer.content {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    border-top: none;
    padding-top: 0px;
}

.page-header .header.panel { padding: 10px 0 !important;}
.page-header .panel.wrapper { background-color: #fff !important; border-bottom: none !important; color: #292B2D;  text-transform:uppercase;}
.header.panel > .header.links > li { font-size:12px; font-weight: 500; margin: 10px 0 0 10px !important; }
.header.panel > .header.links > li > a { color: #292b2d !important;}
.header.panel > .header.links > li > a:hover { color: #0069bc !important;}
.header.panel > .header.links > li:nth-child(2) a { border-right: 1px solid #84BFEB; padding-right: 15px;}
.page-header .header.panel { border-bottom: 1px solid #d3e6ec; padding-bottom: 10px; padding-top: 10px;}
.nav-sections, .navigation { background: #ccc none !important;}

.nav-sections-item-content > .navigation { text-align: center !important;}
.navigation .level0 {margin: 0 2px 0 0 !important;}


.block-search {width: 200px !important;}
.block-search input{border:none; border-bottom:1px solid #d3e6ec; font-size: 12px !important;}
.block-search .action.search::before { color: #0069bc; display:none !important; }
.block-search .action.search{background:url(../images/search-icon.png) no-repeat 50% 50% !important; width:30px; height:30px; opacity:1 !important; }

.free_ship_top{float:left; background:url(../images/shipping-icon_top.png) no-repeat 0 7px; font-size: 12px; font-weight: 500; padding:10px 15px 2px 30px;}
.free_ship_top span{color:#A7A9AA; font-size:10px;}

.other_links{float: right; padding-left: 15px; margin-top: 10px; position: relative; color:#A1A9A9; font-size:14px; font-weight:500; text-transform:uppercase;}
.other_links .meet_time{float:left; background:url(../images/clock-icon.png) no-repeat 0% 24%; padding:0px 15px 10px 38px; margin-right: 15px; line-height:18px; position: relative;}
.other_links .meet_time span { display: block;}
.other_links .tollfree{float:left; background:url(../images/call-icon.png) no-repeat 0% 16%; padding:0px 15px 10px 38px; line-height:18px;position: relative;}
.other_links .tollfree span { display: block;}
.other_links div::after{background:url(../images/top_link_divider.png) no-repeat 0 0; content: ""; height: 58px; position: absolute; right: 0; top: -10px; width: 1px;}

.main_banner{width:100%;}
.main_banner .owl-item .item > img { display: block;}
.main_banner .owl-carousel.owl-theme .owl-controls {display:none !important;}
.main_banner .owl-carousel.owl-theme:hover .owl-controls {display:block !important;}
.main_banner .owl-theme .owl-controls { position: absolute; width: 100%; top: 42%; margin: 0;}
.main_banner .owl-theme .owl-controls .owl-pagination { display:none; position: absolute; width: 100%; bottom: 10%;}
.main_banner .owl-theme .owl-controls .owl-buttons div{width:60px; height:60px; cursor:pointer; text-indent:-9999px; }
.main_banner .owl-theme .owl-controls .owl-prev { float: left; margin-left: 5%; background:url(../images/slide_arw_prev.png) no-repeat 0% 0%; }
.main_banner .owl-theme .owl-controls .owl-next { float: right; margin-right: 5%; background:url(../images/slide_arw_next.png) no-repeat 0% 0%;}

.about_intro{width:100%; background:url(../images/about_bg.jpg) no-repeat top center #E5F0F6; padding:60px 0 50px 0;}
.about_intro .wrapper{box-sizing: border-box; margin-left: auto; margin-right: auto; max-width: 1110px; padding-left: 0px; padding-right: 0px; width: auto;}
.about_intro .wrapper .content{background-color:#EBEFF0; border:1px solid #AAB2B4; box-sizing: border-box; padding:25px;}
.about_intro .wrapper .ytube_video{float:left; width:30%; margin-right: 2%; background:url(../images/gred_divider.png) no-repeat 100% 50%; padding-right: 20px;}
.about_intro .wrapper .intro_img{float:left; width:35%; padding: 25px 0 0;}
.about_intro .wrapper .money_back_guarantee{float:right; width:30%; text-align:center;}
.about_intro .wrapper .money_back_guarantee p{font-size:10px; color:#698195; text-align:center; margin:0; padding:5px 0 0; line-height: 14px;}

.home_block{padding:40px 0;}
.home_block h3{ color:#0069bc; font-weight:500; padding:0; margin:0 0 5px; text-align:center; text-transform:uppercase;}
.home_block h2{ color:#062659; font-weight:500;padding:0; margin:0 0 20px; text-align:center; text-transform:uppercase;}
.home_block p{ color:#292b2d; font-weight:400; padding:0 10%; margin:0 0 20px; text-align:center; font-size: 15px;}
.home_block .nsg_block{text-align:center;}
.home_block .nsg_block ul{margin:0; padding:0; display:inline-block;}
.home_block .nsg_block ul li{ list-style:none; width:290px; min-height: 360px; box-sizing: border-box; margin:0 5px; padding:9px; border:1px solid #A5DEF1; vertical-align: top; display:inline-block;}
.home_block .nsg_block ul li img{max-width:100%;}
.home_block .nsg_block ul li .img_wrap{position:relative; margin: 0 0 15px;}
.home_block .nsg_block ul li .img_wrap .overlay{position:absolute; top:25%; left:0; z-index:1; width:100%; text-align:center; color:#fff; font-size:24px; font-weight:500;}
.home_block .nsg_block ul li:hover .overlay{ top:20%; transition: all 300ms ease 0s;}
.home_block .nsg_block ul li p{font-size:15px; line-height:24px; padding: 0 5px; margin: 0;}

.row_section { width: 100%; clear:both; margin:15px 0;}
.row_section h2{font-size: 24px; font-weight: 500; padding: 0px; margin: 20px 0 30px; text-transform: uppercase; color: #062659; position:relative;}
.row_section h2 strong{background-color:#fff; font-weight:500; padding:0 20px 0 0;}
.row_section h2 span{height:1px; background-color:#ccc; position:absolute; width:100%; left:0; top:50%; z-index: -1;}

.display_product{background:none #fff; border:1px solid #A5DEF1; padding:15px; width:49%; float: left; margin-right: 2%; box-sizing:border-box;}
.display_product .prod_img{float:left; width:42%; margin-right: 3%; text-align: center; background:url(../images/gred_divider.png) no-repeat 100% 50%;}
.display_product .prod_detail{float:left; width:53%; padding:2% 0 0 2%; text-align:left; box-sizing:border-box:}
.display_product .prod_detail h3{font-size:28px; font-weight:500; color:#08243F; line-height: 26px; margin: 0 0 10px;}
.display_product .prod_detail h3 span{font-size:16px; font-weight:400; color:#0AA7D7; display:block;}
.display_product .prod_detail h3 a{ color:#222;}
.display_product .prod_detail p{font-size:14px; line-height: 20px; margin: 0 0 10px;}
.display_product .prod_detail .button{ font-size:18px; font-weight:500; color: #fff; padding:8px 20px; }
.display_product .prod_detail .button span{ background:url(../images/btn_arw.png) no-repeat 0 0; width:9px; height:13px; display: inline-block; margin-left: 5px; }


.client_testimonial { display: block; position:relative; width: 100%; background-color:#F7FBFC; border:1px solid #C9EBF5; box-sizing:border-box; padding:60px 30px 25px 30px;}
.client_testimonial #owl-demo-testimonial .item{ background: transparent; padding: 0px 0px; margin: 10px; color: #292b2d; text-align: center; position:relative;}
.client_testimonial #owl-demo-testimonial .item:after{content:''; width:11px; height:186px; display:block; position:absolute; top:0; right:-17px; background:url(../images/divider.png) no-repeat;}

.client_testimonial .customNavigation { position: absolute; width: 100%; top: 30%; left: 0; text-align: center;}
.client_testimonial .customNavigation .btn{text-indent:-9999px; width:20px; height:21px; cursor:pointer;}
.client_testimonial .customNavigation .btn.prev {float:left; background:url(../images/blue_arw_prev.png) no-repeat 50% 50%; margin-left:25px;} 
.client_testimonial .customNavigation .btn.next {float:right; background:url(../images/blue_arw_next.png) no-repeat 50% 50%; margin-right:25px;} 

.customNavigation a{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.client_testimonial .item span { display: block; margin:0 0 20px; text-align:center;}
.client_testimonial .item p { display: block; font-size: 14px; font-weight: 400; line-height:20px; margin:0 0 20px; padding:0 20px; text-align:center;}
.client_testimonial .item strong { color: #0069bc; display: block; text-align: center; font-size: 18px; font-weight: 500; text-transform:uppercase;}

.client_testimonial .owl-page.active span{ color: #0069bc !important; opacity: 1;}
.client_testimonial .owl-theme .owl-controls .owl-page span { height: 10px; margin: 5px; width: 10px;}

.page-footer { background: #fff none !important; margin-top: auto; padding-bottom: 0px;}
.footer-topline{ background: #fff none; padding: 20px 0;}
.footer-topline .featured_brand{float:left;}
.footer-topline .featured_brand label{float: left; font-size: 16px; font-weight: 500; box-sizing: border-box; padding: 10px 20px 0 0; text-transform: uppercase; color: #08243f;}
.footer-topline .featured_brand ul{float:left; padding:0px 20px 0 0; margin:0;}
.footer-topline .featured_brand ul li{display:inline-block; padding:0px 10px 0 0; margin:0;}

.page-footer .footer-bottomline{ background: #fff none; text-align:center;}
.page-footer .footer-bottomline ul{ display:inline-block; text-align:center; padding: 10px 0 0 !important;}
.page-footer .footer-bottomline ul li{ list-style:none; display:inline-block; padding:0 10px; text-align:center; vertical-align: middle;}

.page-footer .footer-middle{ background: #5f5d5e none; padding: 30px 0 20px;}

.foot_other_links {float:right; padding: 4px 0 0;}
.foot_other_links ul {margin:0; padding: 0 !important;}
.foot_other_links ul li {list-style:none; display:inline-block; border-left:1px solid #454344; padding:0 15px; text-transform:uppercase; color:#fff; vertical-align: top;}
.foot_other_links ul li:first-child { border-left:none; padding-left:0;}
.foot_other_links ul li:last-child { padding-right:0;}
.foot_other_links ul li .live_help{background:url(../images/call-center_icon.png) no-repeat 0 5px; padding:0 0 0 40px; margin: 4px 0; font-size: 30px; line-height: 22px; 
color:#fff; display: block;}
.foot_other_links ul li .live_help strong{ display: block; font-size: 16px; font-weight: 400;}

.foot_other_links ul li .free_ship{background:url(../images/shipping-icon_bottom.png) no-repeat 0 0; font-size: 30px; line-height: 22px; margin: 5px 0 3px; 
padding:0 0 0 64px; color:#fff; display: block;}
.foot_other_links ul li .free_ship strong{ display: block; font-size: 16px; font-weight: 400;}


.foot_other_links ul li .call{background:url(../images/call-icon_bottom.png) no-repeat 0 0; font-size: 16px; line-height: 22px;  margin: 4px 0; padding:0 0 0 40px; color:#fff; display: block;}
.foot_other_links ul li .call tel{ display: block; font-size: 18px; font-weight: 400;}

.foot_other_links ul li .social_media { margin: 10px 0;}
.foot_other_links ul li .social_media .fb_ico,
.foot_other_links ul li .social_media .linkedin_ico,
.foot_other_links ul li .social_media .twt_ico,
.foot_other_links ul li .social_media .vmo_ico,
.foot_other_links ul li .social_media .ytube_ico,
.foot_other_links ul li .social_media .gplus_ico { display: inline-block; float: none; text-indent:-9999px;}
	
.foot_other_links ul li .social_media .fb_ico{width:35px;height:35px;background:url(../images/social_media.png) no-repeat 0 0;}
.foot_other_links ul li .social_media .fb_ico:hover{background:url(../images/social_media.png) no-repeat 0px -40px;}

.foot_other_links ul li .social_media .twt_ico{width:35px;height:35px;background:url(../images/social_media.png) no-repeat -40px 0;}
.foot_other_links ul li .social_media .twt_ico:hover{background:url(../images/social_media.png) no-repeat -40px -40px;}

.foot_other_links ul li .social_media .gplus_ico{width:35px;height:35px;background:url(../images/social_media.png) no-repeat -80px 0;}
.foot_other_links ul li .social_media .gplus_ico:hover{background:url(../images/social_media.png) no-repeat -80px -40px;}

.foot_other_links ul li .social_media .ytube_ico{width:35px;height:35px;background:url(../images/social_media.png) no-repeat -120px 0;}
.foot_other_links ul li .social_media .ytube_ico:hover{background:url(../images/social_media.png) no-repeat -120px -40px;}

.foot_other_links ul li .social_media .linkedin_ico{width:35px;height:35px;background:url(../images/social_media.png) no-repeat -160px 0;}
.foot_other_links ul li .social_media .linkedin_ico:hover{background:url(../images/social_media.png) no-repeat -160px -40px;}


.page-footer .footer-middle .foot_row{padding:15px 0; border-bottom: 1px solid #454344;}
.page-footer .footer-middle .foot_row.last{border-bottom: none}
.page-footer .foot_logo{float:left;}
.footer-middle .links { float: left;}
.page-footer .footer-middle .pym_card { float: right;}
.page-footer .footer-middle .links li{display:inline-block; margin: 0 0 4px !important;}
.page-footer .footer-middle .links li a{color: #fff !important; padding: 0 7px 0 3px !important;}
.page-footer .footer.content .links li:first-child a { padding-left: 0 !important;}

.page-footer .copyright { background-color: transparent; color: #fff; display: block; margin: 0; padding: 0; text-align: left;}
.page-footer .copyright small { display: inline-block; padding: 0;}

/* ------- BUTTON ------------ */
button{font-family: 'Fugaz One', cursive !important; font-weight:400 !important; text-transform:uppercase !important; box-shadow:none !important; transition: all 300ms ease 0s;}
button:hover{border:none !important; box-shadow:none !important;}
button:focus, button:active{color:#fff !important;}
.minicart-wrapper .action.close:active{color:#333 !important;}

.button{background:none #052559 !important; color:#fff; font-family: 'Fugaz One', cursive; font-size:18px; font-weight:400; display:inline-block; border:none; cursor:pointer; padding:8px 20px;  border-radius: 0; line-height:2em; text-transform:uppercase; /*transition: all 0.4s ease 0s; box-shadow: 0 0 0 0 #0AA7D7 inset;*/}
.button:hover{ color:#fff; background:none #0aa7d7 !important; /*box-shadow: 0 100px 0 0 #0AA7D7 inset; border:none;*/ }

.button2{background:none #0aa7d7 !important; color:#fff; font-family: 'Fugaz One', cursive; font-size:18px; font-weight:400; display:inline-block; border:none; cursor:pointer; padding:8px 20px;  border-radius: 0; line-height:2em; text-transform:uppercase; /*transition: all 0.4s ease 0s; box-shadow: 0 0 0 0 #0AA7D7 inset;*/}
.button2:hover{ color:#fff; background:none #052559 !important; /*box-shadow: 0 100px 0 0 #0AA7D7 inset; border:none;*/ }

button.subscribe{background:none #052559 !important; color:#fff; font-family: "Rubik",sans-serif !important; font-size:14px; font-weight:500 !important; display:inline-block; border:none; cursor:pointer; padding:8px 20px;  border-radius: 0; text-transform:uppercase; transition: all 0.4s ease 0s; }
button.subscribe:hover{ color:#fff; background:none #0aa7d7 !important;}

.button.tocart span{background: rgba(0, 0, 0, 0) url("../images/btn_arw.png") no-repeat scroll 100% 50%; padding-right:20px;}

.block.newsletter input[type="email"]::-moz-placeholder{color:#0A3967;}

.block.newsletter input[type="email"]{height:40px !important;}
.block.newsletter .field .control:before{margin:4px 0 0 8px;}
.block.newsletter .action.subscribe { border-radius: 0 !important; border:none !important; height:40px !important;}

.minicart-wrapper .action.showcart:before {
	display:none !important ;
}

.top_cart { float: right; margin:10px 0 0 15px; }
.top_cart .cart{float:left; background:url(../images/cart-icon.png) no-repeat 0% 16%; padding:0px 15px 10px 38px; margin-left: 0; line-height:18px;position: relative;}
.top_cart .cart span.counter-number { display: block; color: #a1a9a9; font-size: 14px; font-weight: 500;}
.top_cart .cart:after{display:none;}
.block-minicart .amount .price-wrapper:first-child .price { color: #0069bc; font-weight: 500;}
.block-minicart .subtotal .amount { padding: 5px 0 0;}
.minicart-items .product-item-name a { color: #0069bc; font-weight: 500;}

.page-header .header.panel{max-width: 1110px !important; padding: 10px 0px 8px !important;}
.header.content {max-width: 1110px !important; padding: 30px 0px 0 !important;}
    
.nav-sections{margin-bottom:0 !important;}
.navigation .level0 > .level-top { color: #292b2d; line-height: 50px !important; padding: 0 18px !important; text-transform: uppercase; font-weight: 500; border:none !important;}
.navigation .level0.active > .level-top, 
.navigation .level0.has-active > .level-top{	background-color:#09285a; color: #fff !important; border-color:transparent !important;}

.navigation .level0:hover .submenu{display:block !important;}

.navigation .level0 .submenu{min-width:250px !important;}
.navigation .level0 .submenu .level1{margin-bottom:0;}
.navigation .level0 .submenu a { padding: 8px 12px !important; font-size:13px; text-align: left;}

.checkout-agreements-block .action-show{color:#1979c3 !important;}
/* ----------- STORE LOCATOR ------------------- */ 
.store-map{width: 100%; height: 100%; min-height: 380px; position: relative; overflow: hidden;	clear: both; margin-bottom: 30px; }
.store_srch .field .control{ text-align:center; padding: 30px 0 10px;}
.store_srch .field .control input,
.store_srch .field .control select,
.store_srch .field .control button{ width: 20%; margin:10px 20px; border-color: #a5def1; display: inline-block; height: 48px; vertical-align: middle;}

#locationSelect{clear:both;	margin:20px 0;}
#locations .str_row{display:block; padding:10px; border-bottom:1px solid #ddd; }
#locations .str_row:hover{background-color:#eee; }
#locations .str_name{display:inline-block; width:40%;}
#locations .str_name span{padding-right:15px;}
#locations .str_name span:nth-child(2) { color: #006bb4;}
#locations .str_address{display:inline-block; width:45%;}
#locations .str_direction{display:inline-block; width:15%; text-align:right;}


.action.primary{background: #062659 none; border: 1px solid #062659; border-radius: 0;}

.action.primary.checkout{ height: 50px !important; font-size: 1.6rem !important; border: none; border-radius: 0; padding: 12px 0 !important;} /* ORANGE BUTTON */
.action.primary.checkout:hover{background: #0aa7d7 none; border: none; border-radius: 0;}
.action.primary.checkout span { color: #fff !important; background:url(../images/btn_arw.png) no-repeat  100% 50%; padding-right:20px; }

.checkout-onepage-success .checkout-success { padding: 40px 0 30px;}

.checkout-onepage-success .products-grid .product-item {width: 20.666667%;}
.checkout-onepage-success .products-grid .product-item .product-item-info { max-width: 100%; width: 100%;}

.checkout-cart-index .page-main { /*padding-top: 30px !important;*/}

.cart-discount {padding-top:20px;}
.cart-discount .actions-toolbar .action.primary span{color:#fff;}
.cart-discount .coupon .control .input-text { height: 48px;}
.cart-discount .coupon .actions-toolbar .apply.button { font-size: 16px; white-space: nowrap;}
.cart.table-wrapper .cart .item .cart-price { color: #0069bc; font-weight: 500;}

.cart.table-wrapper .cart thead tr th.col { font-weight: 500; text-transform: uppercase;}
.cart-totals .grand strong, .opc-block-summary .table-totals .grand strong { font-weight: 500;}

.cart-summary > .title { font-size: 18px; font-weight: 500; margin: 20px 0 12px; text-transform: uppercase;}

.abs-discount-block .block .content, .cart-summary .block .content, 
.paypal-review-discount .block .content, .cart-discount .block .content { display: block !important; padding: 0;}
.cart-discount .block .title:after{ display: none !important;}
.cart-summary .block .fieldset .field:not(.choice) > .label { font-weight: 500 !important;}

.fotorama__stage { border: 1px solid #ddd; box-sizing: border-box; margin-bottom: 10px;}

.block-cart-failed .actions.main .continue, 
.block-cart-failed .actions.main .clear, 
.cart-container .form-cart .actions.main .continue, 
.cart-container .form-cart .actions.main .clear { display: inline-block; font-size: 16px; vertical-align: middle; color: #fff;}
.cart-container .form-cart .action.update.button { font-size: 16px;}
.cart-container .form-cart .actions.main .continue.button { float: left;}

.block.related .action.select { vertical-align: middle;}

.faq_mob{display:none;}
.faq_panel{padding: 40px 0; display:block;}
.faq_question{float:left; width:35%; border-right:1px solid #ddd;}
.faq_question ul, .faq_answer ul{margin:0; padding:0;}
.faq_question ul li{list-style:none; background-color:#f5f5f5; border-bottom:1px solid #ddd; border-left: 1px solid #ddd; margin: 0;}
.faq_question ul li:first-child { border-top: 1px solid #ddd;}
.faq_question ul li:last-child{border-bottom:1px solid #ddd;}
.faq_question ul li h3{color:#666; font-size:15px; cursor:pointer; font-weight:400; line-height:20px; margin:0; padding:10px 30px 10px 15px;}
.faq_question ul li.active { margin-right: -1px;  background-color:#fff; border-left: 2px solid #0069bc; border-right: 1px solid #fff;}
.faq_question ul li.active h3{background:url(../images/blue_faq_arw.jpg) no-repeat 98% 50%; color:#0069bc; font-size:15px; cursor:pointer; line-height:20px; margin:0; padding:10px 30px 10px 15px;}

.faq_answer ul li{list-style:none; margin: 0;}
.faq_answer ul li h3{color:#0069bc; font-size:16px; font-weight: 500; line-height:20px; margin:0; padding:0px 0 15px;}
.faq_answer ul li p{line-height:24px; margin:0 0 20px; padding:0; font-weight: 400;}
.faq_answer ul li ul{margin:0 0 15px 15px;}
.faq_answer ul li ul li{ list-style: disc; padding:5px 0; font-weight:400;}

.terms_conditions{padding: 40px 0;}
.terms_conditions h2{ color: #062659; font-weight: 500; padding: 0; margin: 0 0 20px; text-transform: uppercase;}
.terms_conditions h3{ color: #0069bc; font-size:16px; font-weight:500;}
.terms_conditions p{ font-size:15px; font-weight:400; line-height:24px;}

b, strong {font-weight: 700;color: #0069bc;}
.faq_answer ul li h4 { color: #0069bc;}

/* ------ PRODUCT ------ */

.catalog-product-view .page-main { padding: 40px 0;}
.page-products.page-layout-1column .products-grid .product-item { width: 25% !important;}
.product-info-main .page-title-wrapper h1 { color:#062659; font-size: 36px; font-weight: 300; margin-top: -5px; text-transform:uppercase;}
.product-options-bottom .price-box .price-container .price, .product-info-price .price-box .price-container .price {
    font-size: 40px !important; color: #0069bc; font-weight: 400;
}
.product-info-main .product-info-price { box-sizing: border-box; color: #575757; padding: 10px 15px 15px 0; border-top: 1px solid #c1c1c1; border-bottom: none !important;}
.product-info-main .product-info-price .special-price { display: block; margin: 5px 0 0;}
/*.product-info-main .product-info-price .price-box { width: 60%;}
.product-info-main .product-info-stock-sku { padding: 0 0 0 5%; }*/
.product-info-main .product-info-price .price-box { display: block; width: 100%;}
.product-info-main .product-info-stock-sku { display: block; padding: 0; text-align: left; width: 100%;}

.product-options-bottom .price-box .old-price, .product-info-price .price-box .old-price { font-size: 20px; font-weight: 300;}
.old-price, .old.price { color: #292b2d;}
.product-item .old-price .price {display:none;}
.product-info-main .product-info-price .old-price .price-wrapper .price { color: #292b2d; font-size: 25px !important; font-weight: 300; text-decoration: line-through;}
.product-info-main .stock.available { color: #0069bc; font-weight: 400; text-transform: uppercase;}
.product-info-main .stock.unavailable { color: #E90A1B; font-weight: 400; text-transform: uppercase;}
.product-info-main .product.attribute.overview { margin: 10px 0;}
.product-info-main .product.attribute.overview p { font-size: 16px;}
.product-info-main .product-add-form { padding-top: 10px !important;}

.product-info-main .product-social-links { border-top: 1px solid #c1c1c1; padding: 15px 0;}

.product-add-form .box-tocart .actions { margin: 15px 0 0;}

.product-add-form .box-tocart .control { float: left; padding: 0px 10px 0 0; width: 120px; position:relative;}
.product-add-form .box-tocart .control .label { float: left; padding: 16px 8px 0 0;}
.product-add-form .box-tocart .control .input-text.qty { float: left; height: 52px; border-color: #a5def1;}
.product-add-form .box-tocart .control button { background-color: #fff; border: 1px solid #a5def1; font-family: "Rubik",sans-serif !important; border-radius: 0; margin: 0 0 2px 4px; height: 25px; width:30px; padding: 0 10px; color: #292b2d !important; }
.product-add-form .box-tocart .control button:hover { background-color: #eee; border: 1px solid #a5def1 !important; }
.product-add-form .box-tocart .control #qty-error.mage-error { bottom: -25px; position: absolute; width: 300px;}

.product-add-form .box-tocart.update .field.qty { float: left;}
.product-add-form .box-tocart.update .field.qty .label { float: left; font-weight: 400; padding: 16px 8px 0 0;}
.product-add-form .box-tocart.update .field.qty .control { width: 90px;}
.product-add-form .box-tocart.update .actions { margin: 0;}

.product-social-links > strong { float: left; padding: 6px 5px 0 0; font-weight: 400;}

/*.product.data.items > .item.content { border: none !important; border-top: 2px solid #0069bc !important; margin-top: 43px !important; padding: 35px 0 !important;}
.product.data.items .item.title.active a { background-color: #0069bc !important; color: #fff !important; font-weight: 500;}
.product.data.items .item.title.active a span {color: #fff !important;}
.product.data.items > .item.title > .switch{ background: #eee none !important; text-transform: uppercase; margin-right: 2px; border: none !important;}
*/

.product.data.items > .item.content { border: none !important; border-top: 1px solid #ccc !important; margin-top: 43px !important; padding: 35px 0 !important;}
.product.data.items .item.title.active a { background-color: #fff !important; color: #0069bc !important; border: 1px solid #ccc !important; border-bottom: 1px solid #fff !important; font-weight: 500; margin-left: -2px;}
.product.data.items .item.title.active a span {color: #777 !important;}
.product.data.items > .item.title > .switch{ background: #fff none !important; font-size:16px !important; padding: 1px 25px !important; text-transform: uppercase; font-weight: 500 !important; margin-right: 2px; border: none !important;}

.product.data.items .item.title a::before {
    border-right: 1px solid #ccc;
    color: #999;
    content: "";
    height: 24px;
    position: absolute;
    right: 0;
    top: 20%;
}
.product.data.items #tab-label-reviews.item.title a::before {display: none;}
.product.data.items .item.title.active a::before { display: none;}

.product.data.items .value p { line-height: 26px; font-size: 16px;}
.product.data.items .value li { font-size: 16px;}

.products-list .product-item-details { padding-top: 25px;}

.toolbar select { border: 1px solid #ccc !important;}

.sidebar .videosidebar iframe { width: 100%;}
.sidebar h3.widget-title { color: #062659; font-size: 20px; font-weight: 500;}
.sidebar.sidebar-additional iframe { width: 100%;}

.fotorama__thumb-border { border: 1px solid #0069bc !important;}
.fotorama__thumb { background-color: #fff; border: 1px solid #ddd; box-sizing: border-box; padding: 5px;}

._keyfocus *:focus, 
input:focus:not([disabled]), 
textarea:focus:not([disabled]), 
select:focus:not([disabled]) {box-shadow:none;}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11 { margin-right: 3.8%; float: left; min-height: 1px; }
.grid_1 { width: 4.85%; }
.grid_2 { width: 13.45%; }
.grid_3 { width: 22.05%; }
.grid_4 { width: 30.75%; }
.grid_5 { width: 39.45%; }
.grid_6 { width: 48%; }
.grid_7 { width: 56.75%; }
.grid_8 { width: 65.4%; }
.grid_9 { width: 74.05%; }
.grid_10 { width: 82.7%; }
.grid_11 { width: 91.35%; }
.grid_12 { width: 100%; float: left; }
.grid_row{padding:0 0 20px; clear:both;}

.last-mrg { margin-right:0 !important;}
.last-pad { padding-right: 0px !important; }

.page-main > .page-title-wrapper .page-title{color: #062659; font-weight: 500; font-size: 30px; margin: 40px 0 20px; padding: 0; text-transform: uppercase;}


/* ------ INNER STATIC PAGES ------ */
.content_panel{padding: 20px 0;}
.content_panel h3 { color: #0069bc; font-weight: 500; margin: 0 0 20px; padding: 0 0 8px; border-bottom: 1px solid #ddd; text-transform: uppercase;}
.content_panel p { font-size: 15px; line-height: 24px; margin: 0 0 15px;}
.content_panel .img_wrap { min-height: 215px; text-align: center;}
.our_founder_colmn { margin: 40px 0 0;}

.ingredient_panel ul { margin: 0 0 25px; padding: 0;}
.ingredient_panel ul li { float: left; list-style: none; min-height: 200px; width: 25%; text-align: center;}
.ingredient_panel ul li span { display: block; padding: 10px 0px 0 0; font-size: 15px; font-weight: 500;}

.ingredient_glossary ul { margin: 0 0 25px; padding: 0;}
.ingredient_glossary ul li { list-style: none; padding:0 0 20px; }
.ingredient_glossary ul li .img_wrap{ float:left; min-width: 100px; text-align: left; margin-right:20px; margin-top: 6px; min-height: auto;}
.ingredient_glossary ul li strong { color: #0069bc; display: block; padding: 0px; font-size: 15px; font-weight: 500;}

/* ------ INNER STATIC PAGES ------ */

/*	Widget Testimonial */
.widget_testimonial, .shortcode_testimonial { position:relative;}
.shortcode_testimonial.controls, .widget_testimonial .controls { position:relative; height:35px;}
.widget_testimonial .controls { height:46px;}
.widget_testimonial .controls { margin-top:-37px}
.widget_testimonial .controls a { top:4px!important}
.widget_testimonial .widget-title {	margin-bottom:13px;	}
.controls a.prev, .controls a.next {
	position:absolute; right:0; top:7px;
	width:18px; height:18px;
}
.controls a.prev { right:15px;}
.controls a.prev, .controls a.prev:hover span, .controls a.next, .controls a.next:hover span {
	background: url(../images/pag_sprite.png) no-repeat 0 0; background-size: 36px 36px;
}
.controls a.next, .controls a.next span { background-position: -18px 0!important}
.controls a.prev, .controls a.next { background-color: #ebebeb}
.controls a.prev span, .controls a.prev:hover span, .controls a.next span, .controls a.next:hover span { background-position: 0 -18px!important}
.controls a.next span, .controls a.next:hover span { background-position: -18px -18px!important}
.widget_testimonial .jcycle, .shortcode_testimonial .jcycle {position:relative; overflow:hidden;}
.testimonial_corner { position:absolute; right:23px; bottom:-13px; display:block; width:26px; height:13px; z-index:1; }
.testimonial_meta { padding:15px 10px 0px 0px}
.testimonial_meta span { display:block; text-align:right; line-height:1.2}

blockquote, .quote { position: relative; padding: 15px 15px 5px; border-radius: 0px; border: 1px solid #ccc; background: none #f8f8f8;}
.testimonial .testimonial_corner {
    background: url(../images/corner_tw_dark3.png) no-repeat scroll 0px 0px / 26px 13px transparent;
}

/* ----- CHECKOUT -------- */
/*.checkout-index-index .nav-sections, .checkout-index-index .nav-toggle { display: block !important;}*/
.checkout-index-index .page-main { padding: 30px 0 0;}
.iwd-onepage-checkout-container .opc-wrapper .step-title,
.opc-summary-wrapper .opc-block-summary .iwd-summary-title {
    color: #0069bc !important; font-size: 18px !important; font-weight: 500 !important; text-transform:uppercase !important; 
	padding: 0 0 14px 40px !important; position:relative;
}
.iwd-onepage-checkout-container .opc-wrapper .step-title span,
.opc-summary-wrapper .opc-block-summary .iwd-summary-title span{
    background-color: #0069BC;
	color:#fff;
    border-radius: 50px;
    display: inline-block;
    height: 30px;
    left: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: -6px;
    width: 30px;
}
.opc-summary-wrapper .opc-block-summary .iwd-summary-title{border-bottom: 1px solid #dadada; padding-bottom: 7px;}
.iwd-checkout-shipping-address input, select,
.iwd-opc-additional-blocks .iwd-additional-block-form-wrapper .iwd-input-for-code { border: 1px solid #a5def1 !important; }
.iwd-onepage-checkout .opc-sidebar { right: -10px !important;}

.iwd-summary-cart { background-color: #0069bc !important;}
.iwd-summary-cart-arrow::before { border-top: 11px solid #0069bc !important;}
.iwd-table-checkout-shipping-method input:checked:before { color: #0069bc !important;}
.payment-option.discount-code .payment-option-content { display: block !important;}

.iwd-checkout-agreement .iwd-terms-input-label button.action.action-show.iwd-terms-label-button{font-family: "Rubik",sans-serif !important; text-transform:none !important; font-weight: 400 !important;}
.iwd-checkout-agreement .iwd-terms-input-label button.action.action-show.iwd-terms-label-button:active,
.iwd-checkout-agreement .iwd-terms-input-label button.action.action-show.iwd-terms-label-button:focus{color: #292B2D !important;}

.iwd-shipping-new-address-form .field.required > .label {font-family: "Rubik",sans-serif !important; font-weight: 400 !important;}

.iwd-discount-code-wrapper button.action.iwd-action-code-button { border: 1px solid #0069bc !important; color: #0069bc !important;}
.iwd-discount-code-wrapper button.action.iwd-action-code-button:hover { background-color:#0069bc !important; color: #fff !important;}

.iwd-checkout-agreements-item-content.checkout-agreements-item-content,
.iwd-checkout-step-shipping .form-login div.required > .label { font-family: "Rubik",sans-serif !important; font-size: 16px;}
.iwd-checkout-agreements-modal .iwd-checkout-agreements-item-title.checkout-agreements-item-title{ font-family: "Rubik",sans-serif !important; font-size: 20px;}

.iwd-grand-total-item .iwd-grand-total-item-label { font-family: "Rubik",sans-serif !important; font-size: 24px; font-weight: 500;}
#iwd-opc-summary-table-totals tbody > tr.totals td.amount { padding: 11px 15px 10px 0 !important;}
.iwd-minicart-items-header .iwd-product-items-title { margin-top: 0 !important;}

.iwd-summary-cart .iwd-grand-total-button::before { margin-right: 8px !important; background:url(../images/cart_white.png) no-repeat 0 50% transparent; width:16px; height:20px; text-indent: -9999px; display: inline-block;}

.checkout-payment-method .ccard .number .input-text { border: 1px solid #a5def1 !important;}
.iwd-opc-form-for-payments .fieldset .opc-payment .payment-method .field.cvv.required .input-text.cvv{border: 1px solid #a5def1 !important;}
.checkout-payment-method .ccard .month .select { 
    width: 98% !important; padding: 0 10px 0 19px !important; margin-right: 0px !important;
}
.checkout-payment-method .ccard.fieldset > .field .fields.group.group-2 .field { width: 50% !important;}
.checkout-payment-method .ccard .year .select,
.checkout-payment-method .ccard .month .select { box-sizing: border-box; width: 98% !important;}

.iwd-grand-total-item .iwd-grand-total-item-label {    
    font-family: "Rubik",sans-serif !important;
    color: #0069BC !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 36px !important;
}
.iwd-grand-total-item .iwd-grand-total-item {color: #0069BC !important; margin-bottom: 35px !important;}
.iwd-opc-form-for-payments .fieldset .opc-payment .payment-method._active > .payment-method-content > form.form .field.cvv.required > label {font-family: "Rubik",sans-serif !important;}
.payment-option span.action-toggle:after{display:none !important;}
.iwd-checkout-agreement .iwd-terms-input-label button.action.action-show.iwd-terms-label-button {font-size:14px !important; font-family: "Rubik",sans-serif !important;}
.checkout-payment-method .payment-method-billing-address .billing-address-details {
    line-height: 20px !important; padding: 0px !important;
}
.iwd-opc-form-for-payments .fieldset .opc-payment .payment-method._active > .payment-method-content > form.form {
    padding: 10px 0px 10px 0px !important; border: none !important; border-top: 1px solid #dddddd !important;
}
.iwd-opc-form-for-payments .fieldset .opc-payment label{font-family: "Rubik",sans-serif !important; /*font-weight:500 !important;*/}
.iwd-checkout-form-wrapper .iwd-checkout-agreements-wrapper .iwd-checkout-agreement:last-child { margin-bottom: 30px !important;}
.iwd-action-toggle {color: #0069BC !important;}
.iwd-table-checkout-shipping-method tr.iwd-carrier-name-wrapper:first-child td { color: #0069BC !important;}
.rating-summary .rating-result > span::before {  color: #0EC1D7;}
.review-control-vote label::before {  color: #0ec1d7;}

.product-reviews-summary .reviews-actions { font-size: 16px !important;}
.product-reviews-summary .reviews-actions .action.view { border-right: 1px solid #0069bc; margin-right: 8px !important; padding-right: 10px;}
.product-reviews-summary .reviews-actions .action.add { font-weight: 500;}

.pages strong.page {background: #0069bc none repeat scroll 0 0;border: 1px solid #0069bc;color: #fff;padding: 0;width: 30px;}

.pages a.page {background-color: #eee;border: 1px solid #ddd;color: #666;padding: 0;width: 30px;}
.pages .item { margin: 0 4px 0 0;}

.message.success { color: #0069bc; background: #dff1ff none;}
.message.success > *:first-child::before { color: #0069bc;}

/* ---- CONTACT PAGE ---------- */
.contact-index-index .column.main #map { margin-bottom: 50px;}
.contact-index-index .contact_form_emu{float:left; width:60%; margin-bottom: 30px;}
.contact-index-index .contact_form_emu .legend > span { color: #0069bc; font-size: 24px; font-weight: 500; text-transform: uppercase;}
.contact-index-index .contact_form_social{float:right; width:35%; }
.contact-index-index .contact_social_iframe{float:right; width:35%; margin:20px 0 0; clear:right;}
.contact-index-index .contact_form_social .address { line-height: 24px;}
.contact-index-index .contact_form_social .address > span { display: block; color:#0069bc; font-size: 18px; font-weight: 500; padding-bottom: 5px;}
.contact-index-index .contact_form_emu .contact .field .label { font-weight: 500;}
.contact-index-index .contact_form_emu h2 {
    color: #0069bc;
    font-weight: 500;
    border-bottom: 1px solid #c5c5c5;
    margin: 0 0 20px;
    padding: 0 0 10px;
    text-transform: uppercase;
}
.contact-index-index .contact_form_emu fieldset.fieldset { margin: 0 0 10px;}

/* ---- CREATE ACCOUNT PAGE ---------- */
.customer-account-create .form-create-account { box-sizing: border-box; min-width: 100% !important; width: 100% !important;}
.customer-account-create .fieldset { float: left; padding: 0 5% 0 0; width: 50%; box-sizing: border-box;}

.customer-account-login .actions-toolbar .secondary .action.remind { margin: 15px 0 0 10px;}
.customer-account-login .actions-toolbar .button span{color: #fff !important;}
 li.item.link.compare {display: none;}
/* ---- REVIEW ORDER PAGE ---------- */
.paypal-express-review .block-order-details-view .box-title { color: #0069bc; font-weight: 500;}
.paypal-express-review .input-text { border: 1px solid #a5def1 !important; height: 45px !important; }
.paypal-express-review .action.apply.button { line-height: 1.6em;}
.paypal-express-review .action.apply.button > span { white-space: nowrap;}
.paypal-express-review .paypal-review-discount { padding: 20px 0;}
.paypal-express-review .paypal-review .shipping select { height: 40px;}
.paypal-express-review .paypal-review .paypal-review-title > strong { font-size: 1.8rem; font-weight: 500;}
.paypal-express-review .order-review-form .action.primary { padding: 12px 20px !important;}
.paypal-express-review .cart .grand.totals strong { color: #0069bc; font-size: 1.8rem;}

.modal-popup .modal-inner-wrap {max-width:500px;}

/* ---- CUSTOMER REVIEW PAGE ---------- */
.cms-customer-reviews .page-main { padding: 25px 0;}
/*.cms-customer-reviews .sa_review { border-bottom: 1px solid #ddd; padding: 15px 0 5px;}*/
.cms-customer-reviews .sa_review {
    background: #eee none;
    border-bottom: 1px solid #ddd;
    border-radius: 6px;
    margin: 0 0 10px;
    padding: 15px 20px 5px;
}
.cms-customer-reviews .page-main .contact_social_iframe { margin-bottom: 30px;}


/* Media CSS Starts */
@media only screen and (min-width: 768px) and (max-width: 999px) {
	.navigation, .breadcrumbs, .page-header .header.panel, 
	.header.content, .footer.content, .page-wrapper > .widget, 
	.page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main {padding-left: 10px !important; padding-right: 10px !important;}
	
	.navigation .level0 > .level-top { padding: 0 6px !important; font-size: 14px;}
	
	.home_block .nsg_block ul li {width:31%;}
	.home_block .nsg_block ul li .img_wrap .overlay { top: 22%;}
	
	.display_product .prod_img { width: 35%;}
	.display_product .prod_detail { width: 60%;}
	.display_product .prod_detail h3 { font-size: 24px;}
	.display_product .prod_detail h3 span { font-size: 14px;}
	
	.about_intro .wrapper .content { padding: 25px 15px; margin:0 10px;}
	.about_intro .wrapper .ytube_video iframe { width: 100% !important;}
	
	.page-footer .footer-topline .featured_brand { width: 64%;}		
	.page-footer .foot_logo { float: left; width: 100%; text-align: center; margin-top: -15px;}
	.page-footer .foot_logo img { height: 45px; margin-bottom: 20px;}
	.foot_other_links { float: none; padding: 4px 0 0; text-align: center;}
	.foot_other_links ul li { padding: 0 10px;}
	
	.footer-middle .links {  padding-right: 0 !important; text-align: center; width: 100%;}
	.footer.content ul { padding-right: 0;}
	.page-footer .copyright { text-align: center;}
	.page-footer .footer-middle .pym_card { padding: 20px 0 0; text-align: center; width: 100%;}
	
	.cart-container .form-cart .action.update.button { margin-top: 10px;}
	.cart-discount .coupon .control .input-text { width: 300px;}
	.action.primary.checkout { height: auto !important; font-size: 1.6rem;}
	
	.product.data.items > .item.title > .switch { font-size: 14px !important; padding: 1px 10px !important; }
	
}

@media only screen and (min-width: 768px) and (max-width: 850px) {
	.free_ship_top { background-position:0 12px; padding: 10px 15px 2px 30px;}
	.free_ship_top span { display: block; }
	.navigation .level0 > .level-top {font-size: 13px;}
}

@media only screen and (max-width: 767px) {
	.nav-toggle{top:28px;}
	.free_ship_top span { display: block; }
	.checkout-index-index .nav-sections, .checkout-index-index .nav-toggle { display: block !important;}
	.nav-sections .nav-sections-items .links .block-search { display: none;}
	.navigation .parent .level-top::after { top: 0;}
	.navigation .level0 .submenu a { padding: 8px 12px 8px 18px !important;}
	.navigation .level0:hover .submenu { background: #ddd none;}
	
	.page-header .header.panel { padding: 10px 15px 8px !important;}
	.header.panel > .header.links > li { margin: 10px 0 0 0px !important;}
	.header.panel > .header.links > li:nth-child(2) a { padding: 0 10px;}
	.logo { float: left; margin: 0 0 10px 0px; max-width: 100%; width: 100%; text-align: center;}
	.logo img { display: inline-block; height: 50px;}
	
	.customer-menu .header.links > li { list-style: none;}
	.customer-menu .header.links .authorization-link { display: none;}
	.block-collapsible-nav .item.current a, 
	.block-collapsible-nav .item.current > strong { border-color: #0069bc; color: #0069bc; font-weight: 500;}
	.block-collapsible-nav .item a, 
	.block-collapsible-nav .item > strong { color: #575757; padding: 8px 10px 8px 15px;}
	.account .sidebar-additional { margin-top: 10px;}
	.account .header.panel .header.links .authorization-link > a { color: #0069bc !important; padding: 0 10px;}
	.account .header.panel .header.links .authorization-link > a:hover { text-decoration:none !important;}
	
	.navigation .level0 > .level-top {text-align:left;}
	.nav-sections-item-title .nav-sections-item-switch { color: #999; font-size: 16px; font-weight: 500; text-transform:uppercase;}
	.nav-sections-item-title .nav-sections-item-switch:hover { color: #000; font-size: 18px; font-weight: 500; text-transform:uppercase;}
	
	.block-search { width: 50px !important; float: right; margin: 0;}
	.block-search .control { margin: 0; padding: 0;}
	.block-search .label.active + .control input { position: absolute; border: 1px solid #ddd; left: 2%; width: 96%; top: 23px; height: 40px;}
	.block-search .label { cursor: pointer;}
	
	.panel.header .links, .panel.header .switcher { display: block;}
	
	.other_links{float:left; font-size: 12px; padding-left: 8px;}
	.other_links .meet_time { padding: 0px 10px 10px 35px; margin-right: 8px;} 
	.other_links .tollfree { padding: 0px 10px 10px 35px;}
	.other_links div.tollfree::after{display:none;}		

	.top_cart { width: auto; margin: 0; padding: 10px 8px 10px 0px;}
	.top_cart .cart { padding: 0px 0px 10px 30px; margin: 0;}
	
	.about_intro .wrapper .content { margin: 0 auto; padding: 25px 15px; width: 90%;}
	.about_intro .wrapper .ytube_video { margin-right: 0; padding-right: 0; width: 100%; text-align: center; background: none transparent;}
	.about_intro .wrapper .ytube_video iframe { width: 100% !important;}
	.about_intro .wrapper .intro_img { padding: 25px 0; width: 100%; text-align: center;}
	.about_intro .wrapper .money_back_guarantee { width: 100%;}
	
	.home_block .nsg_block ul li { width: 32%; padding: 4px 4px 15px; min-height: 320px; margin: 0 0 10px;}
	.home_block .nsg_block ul li .img_wrap .overlay { top: 16%; font-size: 20px;}
	.home_block .nsg_block ul li p { font-size: 14px; line-height: 20px;}
	.home_block .nsg_block ul li .img_wrap .overlay img { height: 45px;}
	
	.display_product { padding: 10px; width: 100%; margin: 0 0 10px;}
	.display_product .prod_detail h3 { font-size: 24px; line-height: normal; }
	.display_product .prod_detail .button {font-size: 15px; padding: 8px 15px;}
	.row_section h2 { font-size: 20px; margin: 20px 0 20px;}
	.row_section h2 strong { font-weight: 700; padding: 0 10px 0 0;}
	
	.page-footer .foot_logo { width: 100%; text-align: center; padding-bottom: 15px;}

	.footer-topline .featured_brand { width: 100%; text-align: center; float: none;}
	.footer-topline .featured_brand label { font-weight: 700; width: 100%; padding: 10px 20px 15px 0; text-align: center;}
	.footer-topline .featured_brand ul { padding: 0 0 25px; float: none; }
	
	.foot_other_links ul li {
		display: inline-block; border-left: none; padding: 0 15px; width: 49%; box-sizing: border-box; margin: 10px 0 !important; text-align: center;
	}	
	.footer.content { padding-left: 10px; padding-right: 10px;}
	.footer-middle .links { text-align: center;}
	.page-footer .footer-middle .pym_card { width: 100%; text-align: center;}
	.page-footer .copyright {text-align:center; padding: 10px 0 20px;}
	
	.foot_other_links ul li .live_help,
	.foot_other_links ul li .free_ship,
	.foot_other_links ul li .call,
	.foot_other_links ul li .social_media{ display: inline-block; text-align: left;}
	
	.faq_panel{display:none;}
	.faq_mob{display:block; padding: 20px 0;}
	.faq_mob ul { margin: 0; padding: 0;}
	.faq_mob ul li{ padding: 0px; margin: 0 0 10px !important; list-style: none; background-color: #f9f9f9; box-shadow: 1px 1px 2px #ddd;}
	.faq_mob h3{color:#292b2d; font-size:16px; font-weight: 400; line-height:20px; margin:0; padding:10px 30px 10px 10px;
	background:url(../images/collapse_blu.png) no-repeat 97% 12px transparent;}
	.faq_mob li h3.active.expand { color: #0069bc; background: url(../images/expand_blu.png) no-repeat 97% 12px #eee; border-bottom: 1px solid #ddd;}
	.faq_mob .content{padding:15px 10px 5px 10px;}
	.faq_mob .content p{line-height:24px; margin:0 0 15x; padding:0; font-weight: 400; }
	
	/* ------ PRODUCT ------ */
	.page-main{padding-left:15px !important; padding-right:15px !important; box-sizing:border-box;}
	.page-products.page-layout-1column .products-grid .product-item { width: 33.33% !important;}
	.toolbar-amount{text-align:right;}
	.filter-title strong{white-space:nowrap;}
	.product.data.items { margin: 0 0 20px;}
	.product.data.items > .item.content {margin:0 !important; padding:10px 0 20px !important;}

	.our_founder_colmn .grid_4 { margin: 0 0 20px; width: 100%;}	
	.block.newsletter .content { max-width: 90%; margin: 0 auto;}
	
	.cart-container .form-cart .actions.main button {  margin-top: 10px;}
	.cart-container .form-cart .actions.main .continue.button { float: none; vertical-align: bottom;}
	.opc-wrapper .form-login .fieldset .field .label after, 
	.opc-wrapper .form-shipping-address .fieldset .field .label after{margin:0;}
	
	.contact-index-index .contact_form_emu,
	.contact-index-index .contact_form_social,
	.contact-index-index .contact_social_iframe { width: 100%;}
	.contact-index-index .contact_form_social .address,
	.contact-index-index .contact_social_iframe { text-align: left;}
	
	.contact-index-index .contact_form_emu .actions-toolbar .primary { text-align: left;}
	#locations .str_name span:nth-child(2) { display: block;}
	.store_srch .field .control button { margin: 10px 0 20px; width: 50%;}
	.ingredient_panel ul li { width: 33%;}
	form.form-shipping-address div#shipping-new-address-form .field { font-size: 15px !important;}
	
	.customer-account-create .fieldset { padding: 0 0 20px; width: 100%;}
	
	.product.data.items .item.title.active a { background-color: #0069bc !important; color: #fff !important; font-weight: 500;}
	.product.data.items .item.title.active a span {color: #fff !important;}
	.product.data.items > .item.title > .switch{ background: #eee none !important; text-transform: uppercase; margin: 0 0 5px; border: none !important;}
	.product.data.items .item.title a::before{display:none;}
	
	.paypal-express-review .table tfoot > tr:first-child th, 
	.paypal-express-review .table tfoot > tr:first-child td { border-top: none;}
		
}

@media only screen and (max-width: 540px) {
	.home_block .nsg_block ul li { width: 100%; padding: 4px 4px 15px; min-height: auto; margin: 0 0 10px;}
	.home_block .nsg_block ul li .img_wrap .overlay img { height: 60px;}
	.home_block .nsg_block ul li .img_wrap .overlay { font-size: 22px;}
	.page-products.page-layout-1column .products-grid .product-item { width: 50% !important;}
	
	#locations .str_name, #locations .str_address, #locations .str_direction { display: inline-block; width: 100%;}
	#locations .str_direction { text-align: left; width: 100%; padding: 6px 0 0;}
	#locations .str_name span:nth-child(2) { display: inline-block;}
	
	.store_srch .field .control label { display: block;}
	.store_srch .field .control input, .store_srch .field .control select, .store_srch .field .control button {
	    display: inline-block; margin: 8px 0 20px; width: 80%;
	}
	.store_srch .field .control button { margin: 10px 0 20px; width: 80%;}
	.ingredient_panel ul li { width: 50%;}
}
@media only screen and (max-width: 479px) {
	.free_ship_top span { display: block;}
	
	.other_links div.tollfree::after{display:none;}	
	
	.page-footer .footer-topline .featured_brand ul li { padding: 5px 0; width: 49%; text-align: center;}
	
	.page-footer .foot_logo { width: 100%; text-align: center;}
	.foot_other_links { width: 100%;}
	.foot_other_links ul li { display: block; width: 100%; border-left: none; padding: 5px 0; border-bottom: 1px solid #454344; text-align:center;}
	
	.page-footer .footer-middle .foot_row { border-bottom: none;}
	
	.paypal-review-discount .coupon .field { clear: both; display: table-caption; float: none; margin: 0 0 10px; width: 100%;}
	
}
@media only screen and (min-width: 411px) and (max-width: 460px) {
	.other_links div.tollfree::after{display:block;}
}

@media only screen and (max-width: 410px) {
	.other_links { padding: 0 10px; margin-top: 10px; font-size: 12px; width: 100%; box-sizing: border-box;}
	.other_links div.tollfree::after{display:none;}
	
	.top_cart { width: 100%; text-align: center;}
	.top_cart .cart { float: none; text-align: left;}	
	.minicart-wrapper.active .block-minicart { left: -95px;}		
}

