<?xml version="1.0"?>
<!--
/**
* Raveinfosys_Customer module dependency
*
* @category    Raveinfosys
* @package     Raveinfosys_Customer
* @author      Raveinfosys Inc.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Raveinfosys_Customer" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Customer" />
        </sequence>
    </module>
</config>
