<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_Acart
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amasty_acart" translate="label" type="text" sortOrder="161812" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Abandoned Cart Email</label>
            <tab>amasty</tab>
            <resource>Amasty_Acart::amasty_acart</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="customer_coupon" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>The coupon is available only for particular customer</label>
                    <comment><![CDATA[If the option is disabled the coupon can be used by all customers.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="only_customers" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Send emails only to registered customers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="email_templates" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Email Templates</label>
                <field id="sender_name" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sender Name</label>
                </field>
                <field id="sender_email" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sender Email</label>
                </field>
                <field id="bcc" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sends copy of emails to</label>
                </field>
            </group>
            <group id="testing" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Testing</label>
                <field id="safe_mode" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Safe Mode</label>
                    <comment><![CDATA[When safe mode is activated, the extension sends emails only to the test email, nothing <b>will be sent to customers</b>]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="recipient_email" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Recipient Email</label>
                </field>
            </group>
            <group id="blacklist" translate="label" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Blacklist</label>

                <field id="import" translate="label" type="file" sortOrder="200" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Import</label>

                    <backend_model>Amasty\Acart\Model\Source\Import</backend_model>
                </field>
            </group>
        </section>

    </system>
</config>
