<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer">
        <plugin name="afterGetColumns" type="MageWorx\OrderEditor\Plugin\Block\Sales\Adminhtml\Order\View\Items\DefaultRenderer" />
    </type>
    <type name="Magento\Bundle\Block\Adminhtml\Sales\Order\View\Items\Renderer">
        <plugin name="beforeToHtml" type="MageWorx\OrderEditor\Plugin\Block\Sales\Adminhtml\Order\View\Items\BundleRenderer" />
    </type>
</config>
