<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Orderexport
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\ResourceModel\Order">
        <plugin name="Amasty_Orderexport::afterSave" type="Amasty\Orderexport\Plugin\Sales\Order"/>
    </type>

    <type name="Amasty\Orderexport\Model\OrderExportList">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="defaultOptions" xsi:type="array">
                    <item name="cvs" xsi:type="array">
                        <item name="value" xsi:type="string">csv</item>
                        <item name="label" xsi:type="string" translate="true">CSV</item>
                        <item name="url" xsi:type="string">mui/export/gridToCsv</item>
                    </item>
                    <item name="xml" xsi:type="array">
                        <item name="value" xsi:type="string">xml</item>
                        <item name="label" xsi:type="string" translate="true">Excel XML</item>
                        <item name="url" xsi:type="string">mui/export/gridToXml</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Sales\Model\Order\Item">
        <plugin name="Amasty_Orderexport::OrderItem" type="Amasty\Orderexport\Plugin\Sales\Order\Item"/>
    </type>
</config>
