<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="subscriptions_generate" instance="ParadoxLabs\Subscriptions\Observer\GenerateSubscriptionsObserver" />
    </event>
    <event name="sales_quote_add_item">
        <observer name="subscriptions_quote_add_item" instance="ParadoxLabs\Subscriptions\Observer\QuoteAddItemObserver" />
    </event>
    <event name="payment_method_is_active">
        <observer name="subscriptions_payment_is_available" instance="ParadoxLabs\Subscriptions\Observer\PaymentAvailableObserver" shared="true" />
    </event>

    <!-- Payment method compatibility -->
    <event name="paradoxlabs_subscription_prepare_payment_braintree">
        <observer name="subscriptions_generate_prepare_braintree" instance="ParadoxLabs\Subscriptions\Observer\Payment\BraintreeObserver" />
    </event>
    <event name="paradoxlabs_subscription_prepare_payment_braintree_cc_vault">
        <observer name="subscriptions_generate_prepare_braintree" instance="ParadoxLabs\Subscriptions\Observer\Payment\BraintreeObserver" />
    </event>
</config>
