<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
<preference for="MageWorx\OrderEditor\Controller\Adminhtml\Edit\Items" type="Raveinfosys\Orderlog\Controller\Adminhtml\Edit\Items" /> 
<preference for="MageWorx\OrderEditor\Controller\Adminhtml\Edit\Shipping" type="Raveinfosys\Orderlog\Controller\Adminhtml\Edit\Shipping" />
<preference for="MageVision\UpdateOrderEmailAddress\Block\Adminhtml\Order\View\Info\Email" type="Raveinfosys\Orderlog\Block\Adminhtml\Order\View\Info\Email" /> 
</config>